################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Domain/obj
/.vs
/Application/obj
/CongestionTaxCalculatorTest/obj
/Infrastructure/obj
/CongestionTaxCalculatorTest/bin/Debug/net6.0
/Application/bin/Debug/net6.0
/Domain/bin/Debug/net6.0
/Domain.Contract/bin/Debug/net6.0
/Domain.Contract/obj
/Infrastructure/bin/Debug/net6.0
/CongestionTaxCalculatorWebApi/bin/Debug/net6.0
/CongestionTaxCalculatorWebApi/obj
